<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>年轻范儿</title>
<link href="static/init.css" rel='stylesheet' type='text/css' />
<script src="static/init.js"></script>
<link rel="shortcut icon" href="static/images/favicon.ico" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
	<style>
		.line2 span{
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp:2;
			-webkit-box-orient: vertical;
		}
	</style>
<script type="application/x-javascript">
	addEventListener("load", function() {
	    setTimeout(hideURLbar, 0);
	    },false);
	function hideURLbar(){
	    window.scrollTo(0,1);
	}
</script>
<script>
$(function () {
  $("#slider").responsiveSlides({
	auto: true,
	speed: 2000,
	namespace: "callbacks",
	pager: true,
  });
});
</script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
</head>
<body>
<!--header-->
<div class="header" id="header">
	<div class="header-top">
		<div class="container">
			<div class="col-sm-4 logo">
				<h1><a href="#">年轻 <span>范儿</span></a></h1>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="head-top">
		<div class="n-avigation">
			<nav class="navbar nav_bottom" role="navigation">
			 <!-- Brand and toggle get grouped for better mobile display -->
			  <div class="navbar-header nav_2">
				  <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#"></a>
			   </div>
			   <!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav nav_1">
						<li><a href="index">首页</a></li>
						<li><a href="women">女装</a></li>
						<li><a href="men">男装</a></li>
						<li><a href="shop">精选店铺</a></li>
						<li class="last"><a href="contact">反馈</a></li>
					</ul>
				 </div><!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
</div>
<!--banner-->
<div class="banner">
	<div class="matter-banner">
	 	<div class="slider">
	    	<div class="callbacks_container">
	      		<ul class="rslides" id="slider">
	        		<li th:each="shop,status:${shops}">
						<a target="_blank" th:href="${shop.shopUrl}" class="item_add">
							<img th:src="${shop.shopPic}" th:alt="${shop.name}"/>
							<div class="tes animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
								<h2>男装 &amp; 女装</h2>
								<h3>精选 &amp; 优选 &amp; 为您选</h3>
								<h4 th:text="'Top'+${status.count}+' 店铺'"></h4>
								<p th:text="${shop.name}"></p>
							</div>
						</a>
	       			 </li>
				</ul>
	 	 	</div>
		</div>
	</div>
</div>
<!--//banner-->
<!--content-->
<div class="content">
	<div class="container">
		<div class="content-top" style="padding:0px">
			<div class="content-top1" id="productlist">
				<div th:each="product,status:${products}" class="col-md-3 col-md2 animated wow fadeInLeft" data-wow-delay=".5s" style="padding-bottom:30px">
					<div class="col-md1 simpleCart_shelfItem">
						<a target="_blank" th:href="${product.buyUrl}">
							<img style="width:223px;height: 223px" class="img-responsive" th:src="${product.mainPic}" th:alt="${product.name}" />
						</a>
						<h3><a th:text="${#strings.length(product.name)>24}?${#strings.substring(product.name,0,20)}+'...':(${#strings.length(product.name)>12}?${product.name}:${product.name}+'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;')" href="${product.buyUrl}"></a></h3>
						<div class="price">
							<h5 class="item_price" th:text="${#strings.isEmpty(product.couponUrl)}?('￥'+${product.price}):('￥'+${product.price}+'【'+${product.couponDenomination}+'】')"></h5>
							<a target="_blank" th:href="${#strings.isEmpty(product.couponUrl)}?${product.buyUrl}:${product.couponUrl}" th:text="${#strings.isEmpty(product.couponUrl)}?'去购买':'领券再买'" class="item_add"></a>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
			<div class="content-top1" th:if="${#lists.size(products) == 20}">
				<div class="col-md-offset-5" id="loadmoreDiv" style="padding-bottom:30px">
					<a href="javascript:loadmore()"> 点击加载更多 </a>
					<a href="#header"> 返回顶部 </a>
				</div>
			</div>
		</div>
	</div>
</div>
<!--footer begin-->
<div class="footer">
	<div class="footer-bottom">
		<div class="container">
			<div class="col-md-3 footer-bottom-cate cate-bottom animated wow fadeInUp" data-wow-delay=".5s">
				<h6>地址</h6>
				<ul>
					<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>山东省德州市德城区</li>
				</ul>
			</div>
			<div class="col-md-3 footer-bottom-cate cate-bottom animated wow fadeInUp" data-wow-delay=".5s">
				<h6>邮箱</h6>
				<ul>
					<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:961442649@qq.com">961442649@qq.com</a></li>
				</ul>
			</div>
			<div class="col-md-3 footer-bottom-cate cate-bottom animated wow fadeInUp" data-wow-delay=".5s">
				<h6>电话/微信</h6>
				<ul>
					<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>13051827155</li>
				</ul>
			</div>
			<div class="col-md-3 footer-bottom-cate cate-bottom animated wow fadeInUp" data-wow-delay=".5s">
				<h6>QQ号</h6>
				<ul>
					<li><i class="glyphicon glyphicon-user" aria-hidden="true"></i>961442649</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<p class="footer-class animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">Copyright &copy; 2018.Company Youth Fashion All rights reserved.</p>
		</div>
	</div>
</div>
</div>
<!--footer end-->

<script>
	var pageNum = 2;
	var pageSize = 20;
    function loadmore(){
        $.ajax({
            url:"reloadproduct",    //请求的url地址
            dataType:"json",
            async:false,
            data:{
               pageNum :pageNum,
        		pageSize :pageSize
            },
            type:"GET",
            success:function(result){
               pageNum = pageNum + 1;
               var data = result.data;
               if(data.length < 20){
                   $("#loadmoreDiv").empty();
                   $("#loadmoreDiv").append("<a href='javascript:void(0)'>没有更多了</a><a href='#header'> 返回顶部 </a>");
			   }
			   for(var i=0;i<data.length;i++){
                   $("#productlist").append(productToHtml(data[i]));
			   }
            }
        });
	}

	function productToHtml(product){
		var html = "<div class='col-md-3 col-md2 animated wow fadeInLeft' data-wow-delay='.5s' style='padding-bottom:30px;'>"+
            "<div class='col-md1 simpleCart_shelfItem'>"+
            "<a target='_blank' href='"+product.buyUrl+"'>"+
            "<img style='width:223px;height: 223px' class='img-responsive' src='"+product.mainPic+"' alt='"+product.name+"'/></a>"+
            "<h3><a href=' "+product.buyUrl+"'>";
			if(product.name.length>24){
			    html = html + product.name.substring(0,20)+"..."
			}else if(product.name.length>12){
                html = html + product.name;
			}else{
                html = html + product.name+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
			}
			html = html + "</a></h3><div class='price'><h5 class='item_price'>￥"+product.price;
			if(product.couponUrl.length > 0){
			  html = html +   "【"+product.couponDenomination+"】";
			}
			html = html + "</h5><a target='_blank' class='item_add'";
			if(product.couponUrl.length>0){
			    html = html + "href='"+ product.couponUrl +"'>领券再买"
			}else{
                html = html + "href='"+ product.buyUrl +"'>去购买"
			}
			html = html + "</a><div class='clearfix'> </div> </div> </div> </div>"
		console.log(html);
        return html;
	}
</script>
</body>
</html>